body{
    background-color: #3D3B40;
    font-size: 18px;
}

h1{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #3D3B40;
    gap: 100px;

}

#CZ{
    width: 100px;
    border: none;
    border-radius: 50%;
}

#eng{
    width: 100px;
    border: none;
    border-radius: 50%;
}

#me{
    width: 400px;
    border: 5px solid white;
    border-radius: 50%;
}

footer{
    text-align: center;
    color: white;
}

button{
    display: none;
}

.phone{
    display: none;
}

@media (max-width: 680px) and (min-width:376px){

    h1{
        font-size: 1.5rem;
    }

    .container{
        flex-direction: column;        
    }

    #me{
        width: 250px;
        order: 0;
        position: relative;
        bottom: 150px;
    }

    #CZ{
        display: none;
    }

    #eng{
        display: none;
    }

    footer{
        font-size: 10px;
        position: relative;
        bottom: 259px;
    }

    .phone{
        display: flex;
        justify-content: center;        
        position: relative;
        bottom: 295px;
        gap: 20px;
    }

    #flag1{
        border: 1px solid white;
    }

    #flag2{
        border: 1px solid white;
    }    
    
}

@media (max-width:375px){
    h1{
        font-size: 15px;
    }

    #me{
        width: 260px;
        position: relative;
        bottom: 150px;
    }

    #CZ{
        display: none;
    }

    #eng{
        display: none;
    }

    .phone{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: ;
        gap: 10px;
    }

    #flag1{
        border: 1px solid white;
    }

    #flag2{
        border: 1px solid white;
    }

    footer{
        font-size: 10px;
        position: relative;
        bottom: ;
    }

}