html{
    font-size: 16px;
    }

#name{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    }

body{
    text-align: center;
       }

#me{
    height: 350px;    
    margin-top: 100px;
    }

#czechflag{
    margin-right: 100px;
    }

#usflag{
    margin-left: 100px; 
    }

h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 2rem;
}